. {0}
body {
	text-align:center;	
}
.wrapper {
	margin:auto;
	text-align:left;
	width:1000px;
	min-height:250px;
}
.header{
	width:100%;
	height:50px;
	background-color:#0066FF;
}
.content{
	width:100%;
	min-height:250px;
}
.content .column1{
	background-color:#999999;
	width:25%;
	float:left;
}
.content .column2{
	background-color:#33F;
	width:25%;
	float:left;
}
.content .column3{
	background-color:#099;
	width:25%;
	float:left;
}
.content .side-bar{
	background-color:#FF0;
	width:25%;
	float:left;
}